In [20]:
import pandas as pd
import yaml
from datetime import datetime
from pathlib import Path
import numpy as np

In [3]:
df = pd.read_csv("../../../FIRE/data/gastos/ExportGastos.csv")

In [4]:
df

,Date,Interest Date,Amount,Account,Counterparty,Name,Description
0,2023-06-27,2023-06-27,"4.000,00",NL89BUNQ2093292122,BE48967056780227,TransferWise,DE ARAUJO PEREIRA DANIEL
1,2023-06-27,2023-07-01,"-0,58",NL89BUNQ2093292122,NaN,GOOGLE *TEMPORARY HOLD,"GOOGLE *TEMPORARY HOLD cc@google.com, IE 3.00 ..."
2,2023-06-27,2023-07-01,"0,58",NL89BUNQ2093292122,NaN,GOOGLE *TEMPORARY HOLD,"Refund: GOOGLE *TEMPORARY HOLD cc@google.com, ..."
3,2023-06-27,2023-07-01,"-2.190,31",NL89BUNQ2093292122,NaN,WWW.IKEA.NL,"WWW.IKEA.NL AMSTERDAM, NL"
4,2023-06-28,2023-07-01,"2.190,31",NL89BUNQ2093292122,NaN,WWW.IKEA.NL,"WWW.IKEA.NL AMSTERDAM, 000"
...,...,...,...,...,...,...,...
99,2023-07-29,2023-07-29,"-3,53",NL89BUNQ2093292122,NaN,AH 8684,"AH 8684 AMSTERDAM, NL"
100,2023-07-30,2023-07-30,"-9,00",NL89BUNQ2093292122,NaN,Albert Heijn 1391,"Albert Heijn 1391 AMSTERDAM, NL"
101,2023-07-30,2023-07-31,"-5,00",NL89BUNQ2093292122,NL61INGB0389809039,Emily Heinhuis,NaN
102,2023-07-30,2023-07-30,"-6,69",NL89BUNQ2093292122,NaN,Jumbo Amsterdam C Huyg,"Jumbo Amsterdam C Huyg AMSTERDAM, NL"
103,2023-07-30,2023-07-30,"-4,99",NL89BUNQ2093292122,NaN,ALBERT HEIJN 1391,"ALBERT HEIJN 1391 AMSTERDAM, NL"

In [6]:
df['Name'].unique()

array(['TransferWise', 'GOOGLE *TEMPORARY HOLD', 'WWW.IKEA.NL',
       'IKEA BV via ING', 'Bever Amsterdam', 'Albert Heijn 1080',
       'Albert Heijn 1391', 'Hart Van Zuid', "McDonald's Albert Cuyp",
       'Greenwoods', 'ZARA HOME VAN BAERLEST', 'SIMON MEIJSSEN',
       'Restaurant Pastis', 'EGG HOUSE F HALSSTR BV',
       'Dille en Kamille 1029', 'Coolblue', 'AMZN MKTP NL AMAZON.NL',
       'ALBERT HEIJN 1391', 'NLOVZE5X898WQXW5LD', 'NLOVLX5MQLQPVEQ5WG',
       'Online Payments Foundation', 'ALBERT HEIJN 2213',
       'Marktplaats via Online Payments Foundation', 'HEMA EV842',
       'KPN B.V.', "Kamera Express A'dam", 'DK Het Hart van Zuid',
       'NLOVVGJ9BWWRM6V5ZQ', 'NLOVZE5X89EVPKR5LD', 'NLOVKLJ4AL9D8495ZY',
       'Leila', 'NLOVW7JW89K477R5VP', 'NLOVB85YY9PQVLG5VE',
       'ALBERT HEIJN 1302', 'O&O IJZERWAREN ADAM',
       'AMAZONRETAIL WWW.AMAZO', 'NLOV9B5GLQAXN4LJ8Y', 'ETOS 7247',
       'CCV*R EN B VAN HILTEN', 'Jumbo Amsterdam Ferd.B',
       'Zettle_*Coffee Distric', 'P113 Pets Place',
       'Dille en Kamille 1031', 'Zettle_*MR. BRASA Food',
       'Empanadas Fest Food', 'Zettle_*dambrownie com',
       'Stichting Museumkaart', 'Pathe City',
       'Ministerie van Justitie en Veiligheid', 'TERPS ARMY',
       'Ekoplaza Weteringsch', 'THE BOSTON CONSULTING GROUP B.V.', 'bunq',
       'ZARA HOME NL (1680)', 'Ku Kitchen & Bar', 'Fabel Friet',
       'AH 8684', 'Emily Heinhuis', 'Jumbo Amsterdam C Huyg'],
      dtype=object)

In [62]:
yaml_dict = yaml.safe_load(Path("../../data/config.yaml").read_text())

In [63]:
df["clean_name"] = df["Name"].str.lower()
df['category'] = "ERR"

In [64]:
for cat_name, cat_list in yaml_dict['categoria_gastos'].items():
    for store_name in cat_list:
        # print(store_name)
        df['category'] = np.where(
            df["clean_name"].str.contains(store_name.lower()),
            cat_name,
            df['category']
        )


df['category'] = np.where(
    df["Amount"] > 0,
    "entradas",
    df['category']
)

In [65]:
df['category'].value_counts()

category
groceries       36
house           17
roles           16
ERR             14
misc            10
transporte       8
custos_fixos     2
gatos            1
Name: count, dtype: int64

In [66]:
df[df['category'] == "ERR"]['Name'].unique()

array(['TransferWise', 'GOOGLE *TEMPORARY HOLD', 'Hart Van Zuid',
       'Greenwoods', 'Online Payments Foundation', 'DK Het Hart van Zuid',
       'O&O IJZERWAREN ADAM', 'ETOS 7247', 'CCV*R EN B VAN HILTEN',
       'Zettle_*MR. BRASA Food', 'THE BOSTON CONSULTING GROUP B.V.'],
      dtype=object)

In [61]:
df[df['category'] == "ERR"]

,Date,Interest Date,Amount,Account,Counterparty,Name,Description,clean_name,category
0,2023-06-27,2023-06-27,"4.000,00",NL89BUNQ2093292122,BE48967056780227,TransferWise,DE ARAUJO PEREIRA DANIEL,transferwise,ERR
1,2023-06-27,2023-07-01,"-0,58",NL89BUNQ2093292122,NaN,GOOGLE *TEMPORARY HOLD,"GOOGLE *TEMPORARY HOLD cc@google.com, IE 3.00 ...",google *temporary hold,ERR
2,2023-06-27,2023-07-01,"0,58",NL89BUNQ2093292122,NaN,GOOGLE *TEMPORARY HOLD,"Refund: GOOGLE *TEMPORARY HOLD cc@google.com, ...",google *temporary hold,ERR
6,2023-06-28,2023-06-28,"400,00",NL89BUNQ2093292122,BE48967056780227,TransferWise,DE ARAUJO PEREIRA DANIEL,transferwise,ERR
13,2023-06-30,2023-07-01,"-132,07",NL89BUNQ2093292122,NaN,Hart Van Zuid,"Hart Van Zuid Amsterdam, NL",hart van zuid,ERR
15,2023-07-01,2023-08-01,"-45,00",NL89BUNQ2093292122,NaN,Greenwoods,"Greenwoods Amsterdam, NL",greenwoods,ERR
28,2023-07-04,2023-07-04,"-0,01",NL89BUNQ2093292122,NL56RABO0347848516,Online Payments Foundation,trad61d4a55a3ac 0020008488870988 Online Paymen...,online payments foundation,ERR
31,2023-07-05,2023-07-05,"-9,35",NL89BUNQ2093292122,NaN,HEMA EV842,"HEMA EV842 AMSTERDAM, NL",hema ev842,ERR
36,2023-07-06,2023-07-06,"-83,86",NL89BUNQ2093292122,NaN,DK Het Hart van Zuid,"DK Het Hart van Zuid AMSTERDAM, NL",dk het hart van zuid,ERR
49,2023-07-11,2023-07-11,"-7,40",NL89BUNQ2093292122,NaN,O&O IJZERWAREN ADAM,"O&O IJZERWAREN ADAM AMSTERDAM, NL",o&o ijzerwaren adam,ERR
50,2023-07-11,2023-07-11,"-4,40",NL89BUNQ2093292122,NaN,O&O IJZERWAREN ADAM,"O&O IJZERWAREN ADAM AMSTERDAM, NL",o&o ijzerwaren adam,ERR
55,2023-07-13,2023-07-13,"-15,38",NL89BUNQ2093292122,NaN,ETOS 7247,"ETOS 7247 AMSTERDAM, NL",etos 7247,ERR
56,2023-07-13,2023-07-13,"-3,75",NL89BUNQ2093292122,NaN,CCV*R EN B VAN HILTEN,"CCV*R EN B VAN HILTEN PURMEREND, NL",ccv*r en b van hilten,ERR
64,2023-07-16,2023-07-16,"-8,00",NL89BUNQ2093292122,NaN,Zettle_*MR. BRASA Food,"Zettle_*MR. BRASA Food DIEMEN, NL",zettle_*mr. brasa food,ERR
86,2023-07-24,2023-07-24,"10.721,25",NL89BUNQ2093292122,NL25BNPA0227693620,THE BOSTON CONSULTING GROUP B.V.,SALARY JULY,the boston consulting group b.v.,ERR
101,2023-07-30,2023-07-31,"-5,00",NL89BUNQ2093292122,NL61INGB0389809039,Emily Heinhuis,NaN,emily heinhuis,ERR